
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

body{
  font-family: 'Roboto', sans-serif;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.img-container{
  position: relative;
  z-index: -1;
  left: 0;
  top: -64px;
  width: 100vw;
  height: 100vh;
  overflow:hidden; 
}

.img-container img{
  width: 100%;
  object-fit: contain;
  
}
#bottles{
  height: 700px;
}

.waves{
  aspect-ratio: 900/100;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('./assets/layered-waves-haikei.svg');

}

/* #Products img{
  width:200px ;
} */
/* .slogan{
  position: absolute;
  top:15vw;
  left:10vw;
  width: 500px;
} */

@media screen and (max-width: 640px) {
  /* .slogan{
    position:absolute;
    top:10vw;
    left:15vw;
    width:calc(50%-50px);
  } */
  /* .img-container{
    position: relative;
    left: 0;
    top: 0;
    width: 100vw;
    height: 80vh; } */
}
#bottles{
  height: 440px;
}
.hero{
  position: absolute;
    left: 0;
    top: 70px;
    width: 100vw;
    height: 80vh;
}
#contactPic{
  width: 30vw;
}

@media screen and (max-width: 840px){
  #Home{
    background-color: rgb(0, 191, 194);
    height: 110vh;
  }
  
  #nav{
    background-color: rgb(0, 191, 194) !important
  }
  .img-container img{
    display: none;
  }
  #contactPic{
    display: none;
  }
  /* #About{
    margin-top: 200px;
  } */


}
@media screen and (max-width: 400px){
  #Home{
    height: 130vh;
  }
  #bottles{
    height: 400px;
  }
}

input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
               -webkit-appearance: none;
                margin: 0;
        }
 
        